Wingtip.Services.WCFTestClient/Service References/ServiceReference1/CustomerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.wingtip.com/CustomerService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.wingtip.com/CustomerService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.wingtip.com/CustomerService/Imports">
      <xsd:import schemaLocation="http://localhost:8181/CustomerService.svc?xsd=xsd0" namespace="http://schemas.wingtip.com/CustomerService" />
      <xsd:import schemaLocation="http://localhost:8181/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8181/CustomerService.svc?xsd=xsd2" namespace="http://schemas.wingtip.com/Customers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ListAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ListAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/GetCustomerById" message="tns:ICustomerService_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/GetCustomerByIdResponse" message="tns:ICustomerService_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllCustomers">
      <wsdl:input wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/ListAllCustomers" message="tns:ICustomerService_ListAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/ListAllCustomersResponse" message="tns:ICustomerService_ListAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/AddCustomer" message="tns:ICustomerService_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/AddCustomerResponse" message="tns:ICustomerService_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/UpdateCustomer" message="tns:ICustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/UpdateCustomerResponse" message="tns:ICustomerService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/DeleteCustomer" message="tns:ICustomerService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.wingtip.com/CustomerService/ICustomerService/DeleteCustomerResponse" message="tns:ICustomerService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>